<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/financeiro-db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
<!--     	<property name="hibernate.hbm2ddl.import_files">importar.sql</property> -->
    
		<mapping class="br.com.crud.model.Entidade"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.Transferencia"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.Beneficiario"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.Pagador"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.RequisicaoTransferencia"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.Fatura"/>
    	<mapping class="br.com.drerp.financeiro.model.transferencia.Guia"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.ContribuicaoEspecial"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.ContribuicaoMelhoria"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.EmprestimoCompulsorio"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.Imposto"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.Taxa"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.Tributo"/>
    	<mapping class="br.com.drerp.financeiro.model.tributo.TributoMensal"/>
    	<mapping class="br.com.drerp.financeiro.model.usuario.Usuario"/>
    	<mapping class="br.com.drerp.financeiro.model.tabela.ItemTabela"/>
    	<mapping class="br.com.drerp.financeiro.model.tabela.Coluna"/>
    	<mapping class="br.com.drerp.financeiro.model.tabela.Valor"/>
    	<mapping class="br.com.drerp.financeiro.model.planosaude.PlanoSaude"/>
    	<mapping class="br.com.drerp.financeiro.model.procedimento.Procedimento"/>
    	<mapping class="br.com.drerp.financeiro.model.planosaude.PlanoSaudeLog"/>
    	<mapping class="br.com.drerp.financeiro.model.orcamento.PedidoOrcamento"/>
    	<mapping class="br.com.drerp.financeiro.model.orcamento.Orcamento"/>
    
    </session-factory>
    
</hibernate-configuration>
